{{> _header.html}}
	<div class="content">

<p>Ik ben André de Bruijn, ik woon in Benschop en mijn startnummer
	is ook mijn bouwjaar. Ik ben getrouwd met Trudy en samen we een een
	zoon en een dochter. Mijn beroep is werkplaatstimmerman bij
	aannemersbedrijf J. de Rie in Lopik.</p>
<img src="images/pasfoto.png" class="rechtsintekstzonderborder"/> 

<p>
Ik ben rijdend lid bij autocrossvereniging Rang Pang, een begrip in
Midden- Nederland. Sinds 1974 verzorgt deze club de organisatie van zeer
goed bezochte autocrosswedstrijden. Vooral op de feestdagen (pasen,
koninginnedag, hemelvaart en pinksteren) trekt dit spektakel veel
publiek. Mijn deelname begon in 2004 in de Standaard 2000cc Rang Pang
klasse. In mijn debuutjaar heb ik wel wat pech gehad, maar die was toch
succesvol met een 6e plaats in het kampioenschap en met wat
beginnersgeluk zelfs een dagoverwinning. In de jaren hierna sloeg de
pechduivel toe. Hierdoor werden amper goede resultaten gehaald, maar wel
belangrijke lessen geleerd.</p>

<p>In 2006 was ik naast de autocross ook druk
met belangrijke zaken. In dat jaar trouwden we en kwam ons eerste kind.
Ik was vastbesloten te blijven crossen maar door de grote veranderingen
thuis moest er met het uitoefenen van mijn hobby ook wel iets
veranderen. Als ik dan toch zo nodig moest crossen, werd het tijd dat de
technische problemen overwonnen werden en ik me zo meer op het rijden
kon richten. Er kwam een nieuwe motor die niet bepaald veel
paardekrachten had maar wel ontzettend betrouwbaar was, en daarnaast
ging ik aan het werk met de schokdempers. Ik had inmiddels een plan voor
het gewenste stuurgedrag en de lijnen die ik wilde gaan rijden en
daarmee ging Peter Rikken aan de slag. Deze beslissingen hebben een
ongelofelijk grote impact gehad op het verdere verloop van mijn
crosscarriere. De grote veranderingen van de schokdempers waren een
schot in de roos en door de betrouwbare motor kon ik alles goed
doorontwikkelen. En zo kwam het lek boven en streed ik in 2007 mee om de
prijzen. Met memorabele dagoverwinningen verbaasde ik mezelf en leerde
ik te winnen. Ook in 2008 ging dit verder en in beide jaren scoorde ik
een tweede plaats in het kampioenschap. 2009 was een bijzonder jaar. Met
motivatie en concentratie werd geschiedenis geschreven door alle 7
wedstrijden winnend af te sluiten. Een unieke prestatie, die bekrachtigd
werd met het kampioenschap. Daarnaast werd ook het Overall
Clubkampioenschap 2009 met grote voorsprong gewonnen.</p>

<p>Nu was het tijd om
de stap naar de Vrije Standaard te maken. Omdat in deze klasse meer
toegestaan is kreeg de auto een flinke ombouw met o.a. een
onafhankelijke achterwielophanging. De motor en bak bleven noodgedwongen
nog standaard. Niettemin kwam ik goed mee en was ik tot de laatste
manche van de laatste wedstrijd leider in het kampioenschap. Door een
koprol eerder op die dag kon ik niet starten en verloor het
kampioenschap. Het jaar was niet makkelijk geweest, en zo moest ik nog
wat incasseren. Verlies verwerken is voor mij een mentaal proces waarbij
je worstelt om boven te komen. Het is geen kwestie van zo snel mogelijk
vergeten, maar accepteren en verbeteren.</p>

<p>In de winter van 2011 bouwde ik zelf een opgevoerde motor. Met
	mijn doe-het-zelf-overtuiging en doordachte keuzes kwam ik tot
	motoreigenschappen die voor mij gemaakt zijn. De betrouwbaarheid was er
	ook terwijl de snelheid omhoog ging, zeker nadat ik gewend was geraakt
	aan de motor en de juiste afstellingen wist te vinden. Stapje voor
	stapje is de auto weer verder geëvolueerd en zo pakte ik het
	kampioenschap plus vijf dagprijzen! Met het bereiken van dit doel kwam er
	de gedachte een nieuwe uitdaging aan te gaan. De auto werd verkocht en
	de keuze werd gemaakt om mijn grote droom na te jagen; deelnemen aan
	het Nederlands Kampioenschap Toerwagenklasse. Een heel nieuw hoofdstuk
	om me op te richten. De ontwikkeling van de nieuwe auto zal een groot
	proces zijn, dat ik zal beschrijven in mijn blog.</p>
	
{{> _footer.html}}











