{{> _header.html}}
<div class="content">
	<h1>Verslag NK Zuidwolde</h1>
	<h2>~ 5 juni 2015 ~</h2>

	<p>
		Na het verrassend goede resultaat op de klei van Pieterzijl gingen we
		nu naar de zandgrond van Zuidwolde, in het prachtige Drenthe. Een
		compleet andere wedstrijd met compleet andere omstandigheden, dus was
		het afwachten hoe de Audi en ik op deze ondergrond zouden presteren.
		Nadat de eerste manches van de sprinters in de regen was verreden werd
		het gelukkig droog. Helaas was dit niet voor heel lang want het werd
		nogal wisselvallig, met regen, wind en zelfs hagel. Gelukkig was het
		voor het grootste gedeelte toch droog en viel de wedstrijd niet in het
		water. <img src="images/blog/zuidwolde_1.jpg" class="linksintekst"
			width="250px" alt="Auto" title="NK Zuidwolde" />
	</p>

	<p>
		De eerste manche startte ik op rij 1 en reed van start tot finish op
		plaats 3, wat tot tevredenheid stemde. Ik kon goed wennen aan de baan
		en de snelheid was in orde. Voor de tweede manche deden we een
		bandenwissel die goed uitpakte. Vanaf de tweede rij reed ik naar de 3e
		positie en kon het tempo van de auto’s voor me goed volgen, totdat de
		temperatuur van de motor opliep. Er was een storing in het
		koelsysteem, maar gelukkig deed de computer zijn werk goed en om de
		motor te beschermen werd deze teruggeregeld. Op de valreep kon ik nog
		wel mijn tweede 3e plaats van de dag veiligstellen. De oorzaak van dit
		probleem kon opgelost worden en na een potje sleutelen konden we
		manche 3 van start gaan, vanaf de laatste rij. Er was wat gedrang in
		de eerste bocht maar door hard buitenom te gaan kon ik gelijk
		doorsteken naar P4 en deze behouden tot de finish. <img
			src="images/blog/zuidwolde_2.jpg" class="rechtsintekst" width="250px"
			alt="Auto" title="NK Zuidwolde" /> <img
			src="images/blog/zuidwolde_3.jpg" class="rechtsintekst" width="250px"
			alt="Auto" title="NK Zuidwolde" />

	</p>

	<p>
		De finale begon ik vanaf de 7e startpositie en dook het stof in. Na
		enkele ronden kon ik de 6e positie overnemen, waarna ik de snelle
		jongens voor mij beter kon volgen dan in Pieterzijl. Na 5 ronden kwam
		er een herstart, waarbij veel positiewisselingen kwamen. Ik won en
		verloor er één en hervatte de finale op dezelfde positie. Nadat de
		koploper uitviel en ik in de laatste ronde nog een inhaalmanoevre kon
		plaatsen finishte ik als vierde. Naderhand bleek dat er een ronde te
		laat afgevlagd was, waardoor ik als 5e in de einduitslag kwam. <img
			src="images/blog/zuidwolde_4.jpg" class="rechtsintekst" width="250px"
			alt="Auto" title="NK Zuidwolde" />
	</p>

	<p>
		Aan het einde van de dag konden we concluderen dat de snelheid erg
		goed was, beter zelfs dan in Pieterzijl. Jammer dat de eindklassering
		van die wedstrijd niet geëvenaard werd, maar de afstand tot mijn
		voorliggers was nu kleiner en dat stemde tot grote tevredenheid.
		Bovendien is het weer gelukt om een betrouwbare en stabiele
		wedstrijddag te rijden, wat nu zelfs resulteert in een 3e plaats in de
		tussenstand! De volgende wedstrijd is 21 juni in Holterhoek, wat een
		zeer karakteristieke kleibaan is. Daar zullen we de uitdaging aan gaan
		om wederom een goed resultaat neer te zetten. <img
			src="images/blog/zuidwolde_5.jpg" class="linksintekst" width="400px"
			alt="Auto" title="NK Zuidwolde" />
	</p>



	<br />
	<hr />

	<h1>Verslag NK Pieterzijl</h1>
	<h2>~ 9 mei 2015 ~</h2>

	<p>Na een lange winter waarin we de Audi op enkele punten veranderd
		hebben, was het tijd voor de start van het nieuwe NK-seizoen van 2015.
		Dit gehele seizoen zal op de gevoelige plaat gelegd worden door Marnic
		van Snellefoto.nl, die elke wedstrijd van beeldmateriaal zal voorzien.
		<img
			src="images/blog/pieterzijl_1.jpg" class="linksintekst" width="250px"
			alt="Auto" title="NK Zuidwolde" />
	</p>

	<p>De eerste wedstrijd werd op de kleigrond van Pieterzijl
		verreden, gelegen op de grens van Groningen en Friesland. We hadden
		overnacht bij familie in Meppel, zodat de vroege heenreis flink korter
		was. Het weer was winderig, vochtig, en koud, maar de baan lag er heel
		mooi bij. We waren erg benieuwd hoe de Audi het zou doen en hoe het
		rijden zou gaan.		<img
			src="images/blog/pieterzijl_2.jpg" class="rechtsintekst" width="250px"
			alt="Auto" title="NK Zuidwolde" /></p>

	<p>In de eerste manche startte ik vanaf de tweede rij en kon ik
		goed meekomen. Ik zakte toch iets terug na een aantal ronden en pakte
		een 5e plaats. Vanaf een 1e startplek in manche 2 ging het beter, en
		kon ik zelfs een gevecht om plaats 3 in mijn voordeel beslissen. In de
		derde manche startte ik op de laatste rij en besloot een gokje te
		wagen met de bandenkeuze. Deze pakte erg goed uit met een zeer goede
		start en wederom werd ik 3e. Zo had ik een mooie zesde startpositie
		verdiend voor de finale.		<img
			src="images/blog/pieterzijl_3.jpg" class="rechtsintekst" width="250px"
			alt="Auto" title="NK Zuidwolde" /></p>

	<p>Onder goede weersomstandigheden ging de finale van start rond
		18uur. Mijn start was goed en na een kort gevecht in de eerste ronde
		nam ik plaats 5 in. Na een misschakeling werd dit P6, totdat er een
		herstart kwam door een koprol van een medecoureur. Tijdens het
		opstellen begon het te regenen en werd de kleibaan glibberig. Bij deze
		herstart verloor en won ik een positie en een ronde later won ik er
		nog één. De toprijders voor me liepen nu uit dus restte me niets
		anders dan de controle te behouden op de verradelijke baan. Zo lukte
		het om een prachtige 4e plaats mee naar Benschop te nemen. Wat waren
		we blij met dit fantastische resultaat!		<img
			src="images/blog/pieterzijl_4.jpg" class="linksintekst" width="400px"
			alt="Auto" title="NK Zuidwolde" /></p>
	<br />
	<hr />


	<h1>Verslag NK Gendringen</h1>
	<h2>~ 2 december 2014 ~</h2>

	<p>
		Na de test op de clubcross in Lopik gingen we een week later naar
		Gendringen in de Achterhoek. In vergelijking met Pieterzijl, toen ik
		nog geen meter gereden had met de Audi, waren we nu gelukkig beter
		voorbereid. De wedstrijd in Gendringen was de zesde en laatste
		wedstrijd in het Eurol/Veka NK 2014. Op de vijfde wedstrijd in Loenen
		Gld was het kampioenschap al beslist in het voordeel van Peter
		Breederland met de Suzuki Baleno, na drie kampioenschappen op rij van
		Ton van Leeuwen. <img src="images/blog/gendringen1.jpg"
			class="linksintekst" width="250px" alt="Auto" title="Gendringen" />
	<p>De kleibaan in Gendringen had letterlijk twee kanten; 1 kant,
		waar ook de start was, was op zachte maisgrond, de andere kant was op
		hard grasland. Dit zorgde voor heel verschillende bochten zodat het
		zoeken naar de juiste afstelling en rijstijl nog moeilijker was.
	<p>
		In de eerste manche kwam ik in de eerste bocht op het natte gras en
		gleed naar buiten. Zoekend naar ritme reed ik naar mijn voorgangers
		maar daar bleef het bij. In de tweede manche startte ik op de eerste
		rij en vond mezelf vol in strijd met de snelle jongens. Ik kon het
		redelijk bijbenen, streed voor mijn plekkie en sloot tevreden af met
		een vijfde plaats. De derde manche ging redelijk vanaf de tweede rij,
		totdat mijn koppelingspedaal er zich bij neerlegde en ik zonder te
		kunnen schakelen terugviel. Het borgveertje en het asje bleken hun
		plaats verlaten te hebben, dus een boutje en een moertje namen de taak
		over. Kort samengevat ging het in de manches redelijk. Ik moest wel
		zoeken naar ritme en de afstelling was verre van optimaal, maar in
		beide aspecten was er vooruitgang en zo kwalificeerde ik me als 14e
		voor de finale. Na de start van de finale kreeg ik voor de eerste
		bocht een harde tik waardoor de auto omhoog schoot, maar ik slaagde er
		nog net <img src="images/blog/gendringen2.jpg" class="linksintekst"
			width="250px" alt="Auto" title="Gendringen" /> in om de bocht te
		halen en bij het veld aan te sluiten. Hierna kreeg ik de smaak te
		pakken en schoof op in het veld. Veel auto’s vielen uit, maar de Audi
		ging door ondanks de klapper na de start. Vooraf had ik gehoopt op een
		toptienklassering, groot was mijn verbazing toen bleek dat ik zesde
		geworden was. Ik was door het dolle heen! Een ontzettend goed
		resultaat op mijn tweede NK, helemaal geweldig!
	<p>



		<br />
	<hr />


	<h1>Oude koeien</h1>
	<h2>~ 21 november 2014 ~</h2>

	<p>
		<img src="images/blog/motor1.jpg" class="linksintekst" width="400px"
			alt="Auto" title="Lopik" /> <br /> Oude koeien Mijn laatste bericht
		is alweer veel te lang geleden. Ik heb verteld over de eerste
		wedstrijd met de Audi en keek vooruit naar de tweede NK-wedstrijd. Het
		liep allemaal heel anders…… Tijd om oude koeien uit de sloot te halen.

	
	<p>Na de wedstrijd in Pieterzijl werden we geconfronteerd met een
		probleem met de motor. Op bedrijfstemperatuur ontstond er grote
		rookontwikkeling terwijl de motor wel goed draaide. Na veel onderzoek
		en een herhaling ervan, moest de motor toch uitgebouwd en gedemonteerd
		worden. Zodoende konden we intern onderzoek plegen, waarbij de schade
		al snel opgemaakt was; het onderblok, het hart van de motor waarin de
		zuigers en krukas zich bevinden, was gescheurd. Er zaten scheuren
		tussen de koelkanalen, maar ook naar de cilinderwand. De oorzaak
		hiervan is niet helemaal duidelijk. Motortechnisch hebben we wel
		verbeterpunten gevonden maar de schade was zo groot dat oud zeer niet
		uitgesloten is. Ook bleken de cilinderkoppen te hersteld moeten
		worden.
	<p>Na een lange zoektocht naar een ander onderblok slaagde ik er
		toch in om een vervangend exemplaar te vinden. Nu kon de grote ombouw
		beginnen. Uiteraard met de keuze om dit zelf te doen; was het niet om
		budgettaire redenen, dan wel uit ideële overwegingen om jezelf binnen
		de sport die je beoefent steeds verder te bekwamen. Gezond gebruik van
		naïviteit en toch met het volle verstand een uitdaging aangaan.
		Praktisch gezien vergde dit project veel geduld, en heel veel tijd.
		Jammer dat ik veel wedstrijden heb moeten missen. Maar uiteindelijk
		was de motor weer klaar en geplaatst, waarbij ik mijn dank wil
		uitspreken aan VW De Bruijn Schoonhoven(geen familie overigens) voor
		de documentatie, en Terberg Benschop en Arie Booij voor het wassen van
		de onderdelen.
	<p>
		Toen de Audi weer helemaal klaar was, was het inmiddels al september.
		De laatste NK-wedstrijd van 2014 was aanstaande, maar een week
		daarvoor was er nog de mogelijkheid om te testen. Dit kon mooi op de
		clubcross van de RangPang in Lopik. Een echte thuiswedstrijd voor mij,
		en superleuk om mijn sponsors, medeleden en bezoekers de Audi te laten
		zien. Ik reed met de Vrijestandaardklasse mee en startte op een halve
		baan achterstand. Op die manier reed ik voor spek en bonen mee en kon
		ik testmeters maken. De motor deed het prima en gaf geen klap
		verkeerd. Alle reden tot juichen! Verder kon ik nog wat verbeteringen
		opsporen om goed voorbereid naar het NK in Gendringen te gaan. Een
		verslag daarvan volgt snel. <img src="images/blog/lopik1.jpg"
			class="linksintekst" width="250px" alt="Auto" title="Lopik" /> <img
			src="images/blog/lopik2.jpg" class="rechtsintekst" width="300px"
			alt="Auto" title="Lopik" /> <br />
	<hr />

	<h1>Eerste wedstrijd; Pieterzijl</h1>
	<h2>~ 13 mei 2014 ~</h2>

	<img src="images/albums/raceaudi/audi_race_1.jpg" class="linksintekst"
		width="250px" alt="Auto" title="Audi" />
	<p>Nadat de auto begin april gespoten is hebben we hard gewerkt om
		de auto weer op te bouwen. Dat ging redelijk vlot, en we hadden goede
		hoop de Audi op tijd af te krijgen. Dat veranderde toen ik de
		versnellingsbak in elkaar ging zetten en op problemen stuitte. Het
		lukte om dit te verhelpen, maar de hoeveelheid tijd die dit koste,
		opgeteld bij meerdere dagen ziekte, zorgde voor dusdanige vertraging
		dat de eerste wedstrijd niet gehaald zou worden. Toch gingen we door,
		en met het opnemen van vrije dagen van Geerik maakten we onder druk
		van de naderende deadline effectieve vooruitgang. Hoe het gelukt is
		begrijp ik nog steeds niet helemaal, maar dat het uiteindelijk ondanks
		veel tegenslag toch echt gelukt is om die eerste wedstrijd te halen
		hebben we beiden ervaren als een overwinning op zich.</p>
	<p>De baan in Pieterzijl was lang, snel en technisch met
		opeenvolgend bochtenwerk. De ondergrond was hard en droog. De eerste
		manche was het doel om deze uit te rijden. Ik had twee jaar niet
		gereden en de Audi nog nooit een meter, dus kalm aan en uitrijden. Ik
		startte op de laatste rij en na de eerste bocht koos ik de laatste
		positie om mezelf ruimte en tijd te geven om de auto te leren kennen.
		Ik reed de manche uit en zodoende was de eerste test geslaagd.</p>
	<img src="images/albums/raceaudi/audi_race_2.jpg" class="rechtsintekst"
		width="250px" alt="Auto" title="Audi" />
	<p>
		Voor de tweede manche hadden we andere banden gemonteerd en dit
		resulteerde in een veel betere auto. Ik werd wel weer laatste, maar
		kon de auto’s voor mij goed volgen. Bij de service voor de derde
		manche vond ik een fout van mijzelf in de montage van de
		achterwielophanging. Deze werd gecorrigeerd en de afstelling werd nog
		verder verbeterd, wat resulteerde in een zevende plaats. Al met al
		waren we dik tevreden om alles uit te rijden met een nieuwe auto waar
		nog geen meter in gereden was. Jammer was wel dat we 16e waren
		geklasseerd, waar de eerste 15 geplaatst zijn voor de finale. We hopen
		dat de volgende keer te bereiken. Dat zal zijn op 25 mei in Veulen. In
		de tussentijd gaan we de auto verbeteren en zal het stickerwerk
		afgemaakt worden. Tot dan! <img
			src="images/albums/raceaudi/audi_race_3.jpg" class="rechtsintekst"
			width="250px" alt="Auto" title="Audi" />

	</p>
	<br />
	<hr />

	<h1>Update voorjaar 2014</h1>
	<h2>~ 4 april 2014 ~</h2>

	<img src="images/albums/bouwaudi/audi_1.jpg" class="linksintekst"
		width="250px" alt="Auto" title="Audi" />
	<p>Na kleine werkzaamheden waardoor de website tijdelijk offline
		was, zijn we weer online met een update. Met de Audi begint het einde
		in zicht te komen. Nadat de auto op zijn wielen kwam hebben we de
		wielophanging en stuurinrichting verfijnd en verder doorontwikkeld en
		zitten de aandrijfassen er onder. Verder zijn alle
		veiligheidsvoorzieningen getroffen en zijn de afwerking en details
		bijna afgerond. Nu de auto verder vordert wordt onze filosofie steeds
		sterker visueel; gebruik maken van de sterkte van de auto, en op die
		manier de aangebouwde delen karig en simpel houden. Waar het kan
		combineren we functies en daarnaast letten we op onderhouds- en
		sleutelvriendelijkheid.</p>
	<p>Wat plaatwerk betreft streven we behoud van de originele vormen
		na met zo min mogelijk aanpassingen. We hebben zijskirts geplaatst en
		het open dak is dichtgemaakt. De bumpers zijn steviger opgehangen en
		de openingen zijn dichtgemaakt, net als de lampgaten. Zo schiet het
		plaatwerk al aardig op en gaan we alles spuitklaar maken. Ik hoop dat
		de Audi begin april gespoten is en het opbouwen kan beginnen.</p>
	<img src="images/albums/bouwaudi/audi_2.jpg" class="rechtsintekst"
		width="250px" alt="Auto" title="Audi" />
	<p>
		Nu de laatste stukjes van de puzzel op zijn plaats komen kan ik zeggen
		dat het een omvangrijke ontwikkeling is. Waar mogelijk is er vanwege
		het budget gekozen om zo min mogelijk speciaal vervaardigde
		autosport-onderdelen te gebruiken, maar in plaats hiervan gebruik te
		maken van bestaande producten. En zo komt het dat er gebruik gemaakt
		wordt van onderdelen van BMW, Opel, Fiat, Renault, Citroën, 3 modellen
		Volkswagen, en 5 verschillende types Audi. <img
			src="images/albums/bouwaudi/audi_3.jpg" class="rechtsintekst"
			width="250px" alt="Auto" title="Audi" />

	</p>
	<p>
		Inmiddels is de inschrijving voor het Nederlands Kampioenschap 2014
		gesloten. Het deelnemersveld is iets verminderd, voornamelijk in de
		achterhoede. Dat betekent dus dat het gemiddelde niveau omhoog zal
		gaan. Onze doelstelling voor 2014 is eenvoudig; elke wedstrijd de
		finale halen en uitrijden. Praktisch gezien betekent dit dat de
		betrouwbaarheid in eerste instantie een doel op zich is; daarna wordt
		het het middel om meer snelheid te ontwikkelen. <br />
	<hr />

	<h1>Touchdown!</h1>
	<h2>~ 28 juli 2013 ~</h2>

	<img src="images/blog/a3_achterkant.jpg" class="linksintekst"
		width="250px" alt="Auto" title="A3 achterkant" />
	<p>Het seizoen is inmiddels in volle gang en ik begin het zat te
		worden om langs de kant te staan. Vorig jaar was dat volgens plan en
		had ik er weinig last van, maar nu duurt het me echt te lang. Er valt
		echter weinig aan te veranderen, er is nu eenmaal heel veel werk en de
		tijd is niet oneindig beschikbaar door werk, gezin en nachtrust. Tot
		onze grote teleurstelling hebben we zelfs moeten concluderen dat het
		niet gaat lukken om dit jaar nog aan de start te verschijnen. We
		vinden dat heel erg jammer maar het is de beste beslissing die we
		kunnen maken.</p>
	<p>Nu over de auto. Na mijn laatste blog hebben we de draagarmen
		gemaakt, de stuurinrichting, en zaken als uitlaat, elektra,
		brandstofsysteem en koeling. En last but not least, de rolkooi
		ingebouwd. Deze week was het eindelijk zover; nadat we sinds dag 1 de
		auto hoog op bokken hadden staan kon hij naar beneden. Natuurlijk is
		het spannend om na zoveel arbeid geconfronteerd te worden met het
		resultaat. Voor het eerst was de Audi met de wielen op de grond;
		Touchdown!</p>
	<img src="images/blog/a3_neus.jpg" class="rechtsintekst" width="250px"
		alt="Auto" title="A3 neus" />
	<p>Allereerst kwam het besef hoe fantastisch het is om een droom na
		te kunnen leven. Tijdens de bouw sta je daar niet bij stil, maar op
		dit soort momenten is het genieten van zo’n groot proces. Daarna
		volgde uiteraard de technische inspectie van het resultaat. Nadat de
		vering op hoogte afgesteld en al het plaatwerk gemonteerd was konden
		we de balans opmaken. De wielophanging en rijhoogte is volgens
		verwachting, het complete plaatje is beter en mooier.</p>
	<p>Voor nu kunnen we tevreden zijn en met vertrouwen gaan we
		verder. En dat hebben we nodig want er is nog geen meter gereden
		natuurlijk, en we hebben nog een lange weg te gaan. Te lang helaas om
		dit jaar dus nog te starten, maar we gaan lekker verder op de
		ingeslagen weg en maken er wat moois van.
</div>

<br />
<hr />


<h1>Voortgang van de A3</h1>
<h2>~ 28 maart 2013 ~</h2>
<img src="images/blog/a3_kaal1.jpg" class="linksintekst" width="250px"
	alt="Auto" title="A3 kaal" />
<p>Nadat er gekozen werd voor een totaal andere aandrijflijn is er
	veel gebeurd aan de auto. De ophangpunten aan de achterkant zijn klaar
	en het achterdifferentieel is gemonteerd. De originele middentunnel is
	eruit gezaagd en er is een grotere voor in de plaats gekomen die de
	versnellingsbak huisvest. Ernaast hebben de pedalen en de stoel een
	mooi plekje gekregen. Het schutbord zit er in en de motor en het
	stuurhuis zijn ook geplaatst. We zijn uitermate tevreden met de
	resultaten tot nu toe, want alles past precies. Van tevoren hadden we
	niet kunnen bedenken dat de combinatie van de diverse onderdelen en de
	carrosserie zo’n perfecte puzzel zouden zijn. Bovendien zijn we er
	trots op dat ons concept in ontzettend veel opzichten uniek is. En we
	hebben het gevoel dat ons plaatje klopt.</p>
<p>Het bepalen van de ophangpunten van de voorwielophanging heeft
	veel tijd gekost maar is nu voltooid. Nu zijn we aan de slag met het
	afronden van het subframe. Er is nog enorm veel werk te verzetten; nu
	al is duidelijk dat de eerste twee NK-wedstrijden niet gehaald zullen
	worden.</p>
<img src="images/blog/a3_kaal2.jpg" class="rechtsintekst" width="250px"
	alt="Auto" title="A3 kaal" />
<p>
	De inschrijving voor 2013 is gesloten en ik heb startnummer 627
	gekregen. Daar ben ik blij mee aangezien de 7 en de 6 er in zitten.
	Bovendien is er een verband met de fantastische Casey Stoner, die
	altijd met 27 gereden heeft. Wat betreft de andere inschrijvingen; er
	kan gerust gezegd worden dat de Toerwagenklasse dit jaar een imposante
	startlijst heeft. Alle toppers gaan weer van start en daarnaast is er
	een groot blik vol veelbelovende nieuwkomers en herintreders
	opengetrokken. Insiders kijken koortsachtig uit naar komend jaar want
	het belooft fantastisch te worden. Wij hopen zo snel mogelijk aan te
	sluiten, maar doen geen concessies wat betreft kwaliteit. <br />
<hr />


<h1>Het roer om!</h1>

Het is al even geleden dat ik wat geschreven heb, en dat was niet zonder
reden. Er was vertwijfeling omtrent de kern van het project. Na een
lange voorbereidingstijd wat betreft de zelf bedachte aandrijflijn,
vooral gevuld met rekenen, tekenen en uitzoeken, konden we aan de slag.
En juist op het allerlaatste nippertje, het moment voordat de eerste
bevestigingspunten van de aandrijving gemaakt gingen worden, kwam er een
alternatief plan. Dit nieuwe plan leek serieuze potentie te hebben, dus
werden de werkzaamheden aan de auto deels gestaakt en werd het nieuwe
idee uitgewerkt en kritisch bekeken. Na lange tijd twee wegen bewandelen
met de last van dit luxeprobleem ging de kogel door de kerk; het roer
ging om! Het vorige idee was creatief, fantastisch en had veel sterke
punten, maar de sterke punten van het nieuwe plan wogen
<img src="images/blog/autovanbinnen.jpg" class="linksintekst"
	width="250px" alt="Auto" title="Auto" />
uiteindelijk zwaarder. Voornamelijk vanwege de nog hogere sterkte en de
simpele eenvoud zie ik er heel veel toekomst in. Ik zou mezelf in de
voet schieten als ik precies zou vertellen wat voor type versnellingsbak
het is, maar het is in lengterichting en zonder kettingen. Een deel van
de onderdelen is al in huis, de rest komt nog. Zodoende sluit ik dit
deel af met dezelfde woorden als in mijn vorige blog; de komende tijd
gaat er minder gedacht en meer uitgevoerd worden. Ik hoop dat ze nu meer
waarheid zullen bevatten als de vorige keer.
<p>Wat verdere werkzaamheden betreft zijn we verder gekomen met de
	achterwielophanging. De bevestigingspunten van de bovenplaten zijn af,
	inclusief de buis hiertussen die tevens dient als bevestiging van de
	radiateur. Ook hebben we de stoel er tijdelijk in gezet voor een
	verkenning van de zitpositie.
<p>
	De ophangpunten voor de draagarmen achter is de volgende klus. Het
	materiaal hiervoor is eerst door Geerik in AutoCad uitgetekend en
	daarna in speciaal staal op maat gesneden door Ton van Leeuwen.
	Ontzettend bedankt hiervoor! Ook hartelijk dank aan André Verweij voor
	het sponsoren van twee koelvinnen voor de radiateur. <img
		src="images/blog/logo-vlag-trucking.jpg" class="rechtsintekst"
		width="400px" alt="Verweij Trucking" title="Verweij Trucking" /> <img
		src="images/blog/tonvanleeuwen.png" class="rechtsintekst"
		width="400px" alt="Ton van Leeuwen" title="Ton van Leeuwen" />
<p>
	<br />
<hr />


<h1>Liebe für Holland</h1>

<img src="images/blog/liebe4holland.jpg" class="linksintekst"
	width="250px" alt="Liebe" title="Liebe" />
Onlangs kreeg ik een foto toegestuurd van de auto waarin mijn oude motor
zijn plek gevonden heeft. Het is al bijzonder dat er een Scirocco type1
nieuw gebouwd wordt, maar deze is echt supermooi en verkrijgt hierbij
zijn welverdiende aandacht. Speciale vermelding voor de prachtige
motorkap; Hup Holland! Dit jaar is er 1 wedstrijd mee gereden en de
motor heeft een super-indruk gemaakt.
<p>Het werk aan de Audi gaat goed, er zit schot in de zaak wat
	betreft de achterwielophanging. Alle ophangpunten zijn nu definitief en
	de bestellingen vliegen de deur uit. De komende tijd gaat er minder
	gedacht en meer uitgevoerd worden. Tot de volgende keer!
<p>

	<br />
<hr />

<h1>Slijptol</h1>
De tijd van lang en rustig nadenken is geweest, de slijptol is ter hand
genomen! No turning back!
<img src="images/blog/slijptol.jpg" class="linksintekst" width="250px"
	alt="Slijptol" title="Slijptol" />
<br />
<hr />


<h1>Straatnieuws nu verkrijgbaar</h1>

Na een tijdje geduld uitoefenen is ie er nu dan; de nieuwe
<a href="http://straatnieuws.nl/">Straatnieuws</a>
met een artikel over ondergetekende. Het is nummer 6 van dit jaar en hij
is tot en met
<img src="images/blog/fotoStraatnieuws.jpg" class="rechtsintekst"
	width="250px" alt="Foto in StraatNieuws" title="Foto in StraatNieuws" />
25 mei verkrijgbaar bij de verkoper bij jou op de hoek, mits dat in de
provincie Utrecht is. De oplage is 12.000, dus schiet op!
<p>

	Fotografe <a href="http://www.marijebrouwer.nl">Marije Brouwer</a> was
	zo vriendelijk de uiteindelijke foto beschikbaar te stellen zodat de
	website er ook mee geïllustreerd kan worden.
<p>
	Het werk aan de auto vordert traag maar gestaag. Maarten Littel heeft
	wederom wat materiaal gesponsord zodat de wielophanging verder
	uitgewerkt kan worden, waarvoor dank. <br />
<hr />

<h1>Journalistieke belangstelling</h1>

Gisteren ben ik door een journaliste van Straatnieuws(provincie Utrecht)
geïnterviewd voor een artikel over mijn beleving van autocross. Vandaag
kwam de fotografe van deze krant voor een foto. Dit resulteerde in een
pose in racepak, met helm onder de arm, in een weiland. Even wachten nog
op het resultaat, als ik het goed begreep wordt er volgende week
gedrukt.
<br />
<hr />

<h1>VOORSPRONG DOOR TECHNIEK</h1>

De tijd is gekomen om de nieuwe auto digitaal te onthullen! Omdat ik
thuis ben binnen de VAG- techniek wilde ik graag binnen dit kader
blijven en dat is ook gebeurd. Er zijn veel modellen de revue
gepasseerd, met name Volkswagen en Seat, die het niet geworden zijn. Het
is een Audi geworden, om precies te zijn een Audi A3 van 2004.
<img src="images/blog/audi1.jpg" class="rechtsintekst" width="250px" />

<p>
	Verder kan ik ook melden dat de oude motor verkocht is! Nadat ik er
	heel goed mee gepresteerd had in de regio had ik daar ook de meeste
	reacties uit verwacht, maar dat liep heel anders. Geen enkele reactie
	uit de regio, wel veel prijsaanvragers zonder serieuze interesse uit
	heel Nederland. De echte interesse kwam uit het buitenland; er meldden
	zich een Belg en een Framboos, maar uiteindelijk was een sympathieke
	Duitser de koper. De krachtbron komt tot mijn grote plezier in een
	Scirocco van het eerste type! <img src="images/blog/audi2.jpg"
		class="linksintekst" width="250px" /> <br />
<hr />

<h1>De ontwikkeling van een droom</h1>

Het kan soms raar lopen! Er is achter de schermen ongelofelijk veel
gebeurd wat betreft de ontwikkeling van het nieuwe project voor de NK
Toerwagenklasse. Het heeft lang geduurd voordat ik het aandurfde deze
stap te zetten. De top is hoog, de techniek complex en de budgetten
fors. In geen geval zou het mogelijk zijn tussen de top te komen, het
doel zou zijn er net achter te rijden. Winnen zou verleden tijd zijn,
maar daarentegen doe ik wel mee in de mooiste klasse in de autocross. En
dat gaf de doorslag, ook al betekende dit dat ik met de toekomstige auto
niet meer zou kunnen rijden bij de RangPang, omdat zij deze klasse niet
hebben.
<p>In mijn vorige blog had ik al een voorzetje gegeven over het
	ontwerpen van de nieuwe aandrijving. Nadat verschillende types
	aandrijflijnen onderzocht zijn is het gelukt om zelf iets compleet
	nieuws te bedenken. Het is gebaseerd op standaard delen(dus goedkoop)
	en door de juiste samenstelling denk ik veel tractie en wendbaarheid te
	hebben. Bovendien is het ook nog eens heel sterk. Kanttekening is wel
	dat alles theoretisch is; in de praktijk is dit nooit eerder toegepast
	en dus niet bewezen. Ik ga het doen.
<p>Vooral de verwachte sterkte van de aandrijving zorgde ervoor dat
	ik eens rond keek voor een sterkere motor. De huidige motor was
	fantastisch dit jaar maar zal me hooguit in de middenmoot van het NK
	kunnen brengen. De oude versnellingsbak heeft inmiddels het budget
	aangevuld en als er meer mogelijk wordt, pak ik dat aan. Er kwam een
	mogelijkheid die een heel goede prijs/pk verhouding had en bovendien
	nog lekker vers is. En zo staat er plotseling een nieuwe krachtbron in
	de schuur!
<p>Nadat de nieuwe motor gekocht was moest er nog een carrosserie
	bij gezocht worden. Aanvankelijk dacht ik daar rustig mijn tijd voor te
	nemen en dat eens goed uit te pluizen. Terwijl ik daar rustig mee bezig
	was vond Geerik een splinternieuwe carrosserie voor een prikkie! Naar
	onze mening past deze carrosserie echt goed bij de motor en
	aandrijflijn, maar bovenal heeft hij daarnaast een stuk uitstraling om
	u tegen te zeggen. En zo was met dit buitenkansje de keuze opeens snel
	gemaakt en zijn de grootste delen nu al compleet.
<p>En zo blijken er dingen mogelijk te zijn die ik nooit voor
	mogelijk hield. De optelsom van 2 buitenkansjes die perfect bij elkaar
	passen maken dat het nieuwe project compleet van richting en van niveau
	veranderd is. Helaas kan ik hier nog geen details over bekend maken
	maar dat zal niet heel lang op zich laten wachten denk ik.
<p>
	Allereerst zullen we hard aan de slag gaan met de carrosserie om alles
	een plaats te geven. En verder staat de oude motor nu te koop,
	geïnteresseerden kunnen per mail contact opnemen. Tot later! <br />
<hr />


<h1>Seizoen 2011; Update - De verkoop</h1>

Nadat de auto een tijdje te koop heeft gestaan is het gebeurd; hij is
verkocht, maar wel zonder motor en bak. Momenteel wordt er hard
nagedacht over een nieuw project. Hiervan ligt alleen de
voorwielophanging vast. Verder zal de huidige motor als basis dienen en
de focus ligt nu op het ontwerpen van de aandrijving. Aan de hand
hiervan zal er een carrosserie gekozen worden. Beetje bij beetje komen
we verder, maar we zijn er nog lang niet. Omdat het budget beperkt is
heeft het niet zoveel zin om te doen wat al gedaan wordt; de uitdaging
zal zijn om iets slims te bedenken wat ook betaalbaar is. We zullen
zien!
<br />
<hr />

<h1>Seizoen 2011; Vervolg</h1>

Deze zomer leek wel een herhaling van vorig jaar. Vroeg in het jaar goed
weer, de nattigheid daarna. Het terrein in Nieuw Vennep was zo nat dat
er afgelast werd. Hierna stond op 6 augustus voor de tweede maal dit
jaar Lopik op het programma. Wij als gezin waren op vakantie in
Duitsland, van te voren al ingecalculeerd dat ik even snel terug en weer
heen zou gaan over die autobahn. Ter plekke eerst nog even een
telefoontje gepleegd of het toch echt door zou gaan. Dat ging het, en zo
geschiedde dat ik toch met een ander gevoel aan de start stond. Tijdens
de eerste manche was het spekglad doordat er een natte film op de harde
klei was ontstaan. Behoedzaam gleed ik naar de winst. In de tweede
manche was ik in gevecht met Piet van Dijk om de leiding. Ik plaatste
een aanval buitenom zodat Piet besloot het stuur om te gooien en we
allebei de greppel op reden. Niks nieuws onder de zon, gelukkig kon ik
ondanks een aan flarden gereden band nog verder en als tweede finishen.
Geheel tegen de reglementen in werd Piet niet bestraft en werd hier ook
geen acceptabele verklaring voor gegeven. Ik was woedend en de derde
manche erop gebrand om die energie om te zetten in een
mancheoverwinning. Ik was zo scherp als een mes en dit lukte, alhoewel
een ongelukkig contact met Aad Versteeg de sportieve glans deed
verminderen. Terwijl de finales gereden werden brak er een
verschrikkelijke stortbui los. Zo eentje die in 5 minuten een
rennerskwartier blank zet. En bij die eerste 5 minuten bleef het niet,
het ging nog lang door. Zo werd besloten dat de einduitslag bepaald werd
door het puntentotaal van de manches. Dit betekende voor mij een eerste
plaats met 57 punten, voor Jos Constable met 43 punten. Een resultaat
wat de onderbreking van een overigens fantastische vakantie waard is
geweest.
<p>In Nieuw-Vennep werd na de eerste datum ook de reservedatum
	afgelast. Foto’s van de situatie ter plekke deden wadlopers
	watertanden. Op dezelfde dag kon de ACTD de cross in Rockanje wel door
	laten gaan en dus ging ik daar mijn geluk eens beproeven. Ik schreef in
	bij de superstandaard, we reden gecombineerd met de toerwagenklasse.
	Elke manche werden de voorste 5 startplekken verdeeld over de
	toerwagens en daarachter 6 startplekken voor de superstandaard. Dit
	vond ik wel leuk want nu kon ik me een beetje meten met de toerwagens.
	Toen we voor de eerste keer van start gingen was er verschrikkelijk
	veel stof. Zoveel dat ik geen enkele stoflamp nog kon zien, en dus ging
	ik voorzichtig van het gas af. Toen er weer zicht kwam zag ik dat ik
	rakelings langs de greppel reed. Best afgelopen, en toen ik de eerste
	bocht gemaakt had lag ik derde achter twee toerwagens. Ik kon er
	naartoe rijden en aansluiten toen de eerste er met een lekke band
	uitging. De andere haalde ik in en pakte de winst en dat was toch heel
	erg onverwachts. De tweede manche was de grip ver te zoeken en reed ik
	achterin, totdat ik na de herstart een goede lijn te pakken kreeg en in
	2 ronden van de 6e naar de 3e plek reed. De 3e manche werd ik 2e en zo
	had ik goede hoop voor de finale. Na de start lag ik al snel 2e achter
	de toerwagen van Leon Kammeraad. Ik probeerde de aansluiting te
	behouden maar na een paar rondjes was er wel aardig gat. Lekker
	doorrijden dus en de overwinning van de Superstandaard pakken. Dat ging
	prima, en doordat de BMW 4x4 uitviel was ik alsnog de beste over beide
	klassen. Het telt niet, maar je kijkt er toch naar. Mijn crossmaat Nico
	reed een puike finale in de regio 2000cc en kon Jeroen de Hoop uit
	Lopik achter zich houden. Zo ging Nico ook met de winst naar huis.
<p>Op 1 oktober was het land in Werkhoven in een uitstekende staat
	om weer een dagje te vlammen. De temperatuur was hoog en de baan was
	zwaar, dus het was zweten. Vandaag moest het mogelijk zijn om het
	kampioenschap binnen te halen. Met nog 2 wedstrijden te gaan moest een
	redelijk resultaat in Werkhoven genoeg zijn om al voor de laatste
	wedstrijd kampioen te worden. In de eerste manche had ik een goede
	start vanaf de buitenkant van de voorste rij, maar moest ik na 2
	bochten toch als 3e aansluiten. Leider Jos Constable viel uit maar
	later werd ik toch weer naar de derde plek verwezen door Ton van
	Leeuwen die helemaal vanaf de laatste rij kwam. In de tweede manche
	kwam ik vanaf de laatste rij achter een gastrijder te rijden. Dit was
	een zogenaamde Noord-Hollandse vrije standaard, wat betekent dat hij
	heel veel zwaarder is en nog heel erg veel sterker dan mijn auto. Ik
	besloot risico’s te vermijden en nam een zesde plaats voor lief.
	Gelukkig ging de derde manche een stuk beter, vanaf de tweede rij kon
	ik kopstart pakken en ging er eens voor zitten. Ik kon lekker mijn
	lijnen rijden en met deze mancheoverwinning ging ik met een goed gevoel
	de finale in. Piet van Dijk pakte hierin vanaf de start de leiding, met
	een tweede plek voor mij en daarna Ton van Leeuwen. Al na de eerste
	ronde werd er rood gegeven omdat Aad Versteeg wederom een zware crash
	had. Gelukkig kon hij uitstappen maar de teleurstelling was groot,
	vooral omdat hij dit jaar al zoveel rampspoed te verwerken heeft gehad.
	Nadat het hele veld opnieuw was opgesteld was de herstart een kopie van
	de eerste. Ik kon Piet heel goed volgen en liet hem niet los. Met heel
	veel zand langs mijn oren en tussen mijn tanden nam ik het slechte
	zicht voor lief en bleef de druk erop houden. In de zesde ronde maakte
	Piet een grote fout en ik nam de leiding over met Ton achter me aan.
	Met meer zicht en een vrije baan kon ik nog een extra versnelling maken
	en reed me langzaam los van Ton. Hiermee was de mooiste overwinning van
	dit jaar een feit en was ik ongelofelijk blij. Nog in de auto kon ik
	een harde WIEHOE! niet onderdrukken. Het behaalde kampioenschap had
	daar natuurlijk ook een aandeel in. Aan het einde van de dag mocht ik
	mijn geluk beproeven in de superfinale tegen de verlaagde kevers en de
	sprinters. De opkomst was niet hoog maar ik was vastbesloten om het ze
	flink lastig te maken. Het was echt genieten geblazen want er werd tot
	op de centimeter gereden in een spannende sportieve strijd. Het
	snelheidsverschil was verrassend klein ondanks mijn handicap van de
	voorwielaandrijving en het hogere gewicht. Het duurde lang maar
	uiteindelijk kon ik drie verlaagde kevers toch niet achter me houden.
	Maar wat hebben we een lol gehad!
<p>
	Waverveen was de laatste cross dit jaar. De dag ervoor had het flink
	geregend maar met goede moed werd iedereen door de aanwezige tractoren
	het terrein opgesleept. Mijn klasse startte dit keer als 2e groep na de
	standaard 1400. Toen deze gestart waren werd duidelijk dat de baan
	loodzwaar was. Ongeveer de helft van de rijders bleef vast staan op de
	baan, de andere helft deed zijn uiterste best om dat niet te laten
	gebeuren. Toen de baan weer vrij was gingen wij van start. Vanaf de
	laatste rij zat mijn bril al snel vol maar de bonk klei die het
	uitzicht belemmerde kon ik vrij gemakkelijk met de hand weghalen. Toen
	ik na twee ronden in gevecht ging met Ton om de leiding merkte ik dat
	er bagger aan mijn stuur groeide. Mijn stuur werd zo dik als
	honkbalknuppel! <img src="images/blog/waverveen.jpg"
		class="rechtsintekst" width="250px" /> Gelukkig draaide het stuur
	niet binnen de bagger langs dus met wat doorzettingsvermogen behield ik
	de controle en won ik zelfs. Terug in het rennerskwartier kon ik aan de
	bak; deze klei plakte zo erg dat alles aan de auto zwart was. En met
	een kilootje of honderd extra aan de auto hoef je echt niet aan de
	start van de volgende manche te verschijnen. Al snel werd er omgeroepen
	dat nadat alle klassen de eerste manche verreden zouden hebben er
	overleg plaats zou vinden. Hierbij werd voorgesteld om de tweede manche
	te verrijden en dan te stoppen. Er zou dan een einduitslag op basis van
	de twee manches gemaakt worden. Onder het motto ‘we zijn er nu toch’
	ging op een enkeling na iedereen hiermee akkoord. De startopstelling
	van de eerste manche werd omgedraaid en dus kwam ik op de eerste rij
	terecht. Bij de start werd ik nog even vriendelijk aangetikt door Piet
	(of was het toch bedoeld om mijn voorband kapot te rijden?) die daarna
	zijn normale koers weer pakte en er als een haas vandoor ging. Ik had
	andere banden gemonteerd die niet uit de verf kwamen maar ik kon wel de
	tweede plaats pakken. Met de winst in de eerste manche was ik weer een
	dagoverwinning rijker. Op 29 Oktober was het jaarfeest met de
	uitreiking van het kampioenschap. De punten worden dan pas openbaar
	gemaakt. Soms kan dit heel spannend zijn, dit jaar was het wel
	duidelijk. In de vrije standaardklasse was Ton van Leeuwen 5e, Daan
	Zwanenburg 4e, Arjan de Kock 3e, Piet van Dijk 2e en met een
	overtuigende voorsprong van 83 punten ben ik kampioen Vrije-Standaard
	2011 geworden. De beker was enorm en daarnaast kregen alle kampioenen
	ook nog een actiefoto in chocolade. Het is een soort plakkaat met een
	lijstje en een onderplaat, zodat je hem neer kunt zetten. We kunnen
	even vooruit want de weegschaal gaf 1,2 kilo aan. De overall-kampioen
	van 2011 is Corald van Mourik uit de keverklasse geworden. Toen de
	puntentelling op tafel kwam bleek dat het verschil maar 1 punt was. Dat
	is niet zo veel! Eerlijk is eerlijk, Corald van Mourik heeft dit jaar
	erg goed gereden. Het was zijn jaar en het is dikverdiend. De andere
	kampioenen zijn; Alan van Randeraad in de Standaard 1400, Ronald
	(eindelijk) Bos in de standaard 2000, mede-Benschopper Stephan van Dijk
	in de Standaard Knaf, Mark de Hoop bij de Junioren, en Bram den Hartog
	bij de Sprinters. Gefeliciteerd! Mijn crossmaat Nico van de Water
	sleepte een mooie 2e plaats in de wacht bij de Standaard Knaf! Een
	eervolle vermelding voor hem! <br />
<hr />

<h1>Seizoen 2011; The story so far...</h1>
<p>Het seizoen 2011 is alweer halverwege! In een tijdspanne van
	slechts 15 dagen zijn de eerste 4 wedstrijden alweer verreden. In de
	winter heb ik eerst de werkplaats verbouwd en daarna heb ik lang in het
	ongewisse gezeten over een mogelijk nieuw plan. Uiteindelijk ging dit
	niet door en zo begon ik erg laat om de Scirocco de noodzakelijke
	upgrades voor 2011 te geven. De oude 1.8 standaard motor heeft het
	altijd heel erg goed gedaan maar ik had grote behoefte aan meer
	vermogen onder de kap. Door een nieuwe motor te bouwen kon ik de oude
	behouden en als reserve opslaan. De basis is een 2.0 zestienklepper uit
	een Golf 3, die ik met technische ondersteuning van Geerik zelf gebouwd
	heb. Naast het vervangen van de slijtagedelen en de drijfstangen is het
	onderblok gebalanceerd en uitgewogen. De kop heb ik geheel met de hand
	bewerkt, maar de hydraulische klepstoters zijn nog wel behouden. Een
	setje goede nokkenassen erin en dubbele gasklephuizen erop. Een
	programmeerbare computer stuurt het hele zaakje aan en na een lange
	tijd op de rollentestbank kwamen er zeer goede gegevens uit! 'Niet
	slecht voor een timmerman', luidde het commentaar.
<p>Voor de eerste wedstrijd gingen we naar Groot Ammers waar
	onbekend terrein op ons wachtte, we hadden hier immers nooit eerder
	gereden. De grondsoort zat ergens tussen zand en klei in. Het was rul
	en toch hard, en het stoof. De baan had een chicane en was vreemdgenoeg
	vooral op de rechte stukken erg hobbelig. In de manches moest ik echt
	een beetje wennen aan de nieuwe motor, vooral de starts konden beter.
	Ik had mooie duels met Piet van Dijk en won 2 manches en ook nog de
	finale. Zeer tevreden en met 3 bossen witte rozen ging ik huiswaarts.
	Minder leuk was de harde klapper die Aad Versteeg in de finale maakte.
	De schade was groot maar gelukkig wel te herstellen.
<p>In Lopik had ik moeite om de goede afstellingen te vinden maar
	had ik toch goede resultaten in de manches. In de finale nam ik de
	leiding, maar na misschakelen kwam Ton van Leeuwen voorbij. De
	schakelproblemen werden alsmaar groter en ik moest uiteindelijk
	genoegen nemen met een 3e plaats. Nader onderzoek wees uit dat er een
	borgveer van het schakelsysteem verdwenen was. Voor de zekerheid werd
	de speling in de rest van het systeem ook verholpen en kon ik vol
	vertrouwen naar Bodegraven.
<p>
	<img src="images/albums/autocross2010/autocross2010_16.jpg"
		class="rechtsintekst" width="250px" /> Voor aanvang van de wedstrijd
	in Bodegraven had ik de afstelling van de auto flink veranderd. Het
	zorgde ervoor dat de auto zeer goed stuurde, maar helaas staken de
	schakelproblemen wederom de kop op. Bij lage toeren kreeg ik hem wel in
	de 3e versnelling, maar starten moest in 2. Daarna reed ik in z’n 3.
	Nadat ik vertrok vanaf plek 2 in de finale viel ik bij het opschakelen
	helemaal stil. Er klapte iemand achterop en toen ik de 2e versnelling
	maar weer gezocht had lag ik laatste. Ik begon een inhaalrace en kwam
	vrij snel achter Piet van Dijk. Rondenlang streden we bumper aan bumper
	een hard maar prachtig gevecht totdat de finishvlag in het voordeel van
	Piet besliste om de 2e plaats. Ton van Leeuwen was eerste. Bij
	thuiskomst heb ik dezelfde avond nog de versnellingsbak eruit gehaald,
	want 1 week later stond de volgende wedstrijd alweer op het programma.













<p>
	<img src="images/albums/autocross2010/autocross2010_19.jpg"
		class="linksintekst" width="250px" /> In de week voor Scherpenzeel
	was het bikkelen geblazen want de bakschade was groot. Een afgebroken
	lagerhuis, vastgelopen kogellagers van de schakelvorken en gebroken
	synchromeshringen bleken de ware oorzaak van de schakelproblemen. Dat
	ik überhaupt nog kon schakelen! Meteen werd van de gelegenheid gebruik
	gemaakt om de bakverhouding te wijzigen, want de nieuwe motor is de
	oude niet. Na een week lang sleutelen tot in de nacht kreeg ik alles
	net op tijd af en vol goede moed reisde ik af naar het zware zand van
	Scherpenzeel, waar ik altijd zeer goed gereden heb. In manche 1 werd al
	duidelijk dat goede resultaten uit het verleden geen garantie voor de
	toekomst bieden. Bocht uit gaf ik gas en de auto sloeg haaksom het
	middenterrein op. Het was geen kwestie van sturen, maar van gestuurd
	worden. Dit komt door de sporen in de baan in combinatie met de sper.
	Gelukkig kon ik wel verder en een 3e plek pakken. In de manches daarna
	kwam er verbetering door een wijziging van rijtechniek en banden. Ik
	won zelfs nog een manche en pakte de 2e startplek voor de finale. De
	start was goed en ik kon koploper Piet van Dijk goed volgen. Naarmate
	de baan meer sporen en gaten kreeg was hier geen sprake meer van en
	moest ik gaan verdedigen. Normaal gesproken gaat dat vrij simpel in het
	zand en is er niks aan de hand. Ongelofelijk en onvoorstelbaar was dan
	ook de fout die ik maakte. In steeds dezelfde bocht had ik problemen
	met insturen en zodoende reed ik tegen het rulle aan. Het was een
	kwestie van centimeters dat ik iets ruimer reed en zodoende meters
	wijder uitkwam. Het was 6 jaar geleden dat me zoiets overkomen is en ik
	pis-chagrijnig thuis kwam.
<p>
	<img src="images/albums/autocross2010/autocross2010_10.jpg"
		class="rechtsintekst" width="300px" /> Nu heb ik veel rust gepakt en
	me mentaal weer opgeladen. 25 juni doen we Nieuw-Vennep weer aan, de
	baan waar het vorig jaar zo mis ging en ik het kampioenschap verloor.
	Een herhaling van die geschiedenis moet voorkomen worden. <br />
<hr />

<h1>De winter begint</h1>
<p>Het was me wel een jaartje, dat 2010. Meneer Weer liet zich vaak
	van zijn slechtste kant zien, en zelfs nu worden we verrast met de
	meest maffe taferelen wat het weer betreft. Ik kan me niet herinneren
	ooit eerder een dik pak sneeuw in November gezien te hebben.
<p>Eind oktober was het jaarfeest en de bekendmaking van de
	kampioenen. In de Vrijestandaardklasse ben ik 4e geworden achter Piet
	van Dijk(3e), Team Hoogendoorn(2e) en kampioen Ton van Leeuwen. Allen
	van harte gefeliciteerd! Vooraf had ik ervoor getekend, maar nu is dit
	toch een teleurstellend resultaat. De snelheid was er, de
	betrouwbaarheid was er ook, slechts de sportiviteit van een enkeling
	strooide roet in het eten. Gelukkig heb ik het seizoen nog aan kunnen
	vullen met twee goede resultaten. In Rockanje heb ik ondanks het vele
	sleutelwerk een berg input verzameld en een goed resultaat neergezet.
	Maar vooral bij Marcel Broekhuizen in Lopik was het genieten geblazen
	met een prachtige finale. De beslissende actie in de voorlaatste ronde



















<p>
	Als je de prijzenkast van dit jaar bekijkt, dan kun je gerust spreken
	van een goed geslaagd seizoen.<img src="images/blog/6.jpg"
		class="rechtsintekst" width="250px" />Toch zal die zure nasmaak nog
	wel even blijven. Ik merk wel dat mijn motivatie voor volgend seizoen
	bijna verdubbeld is. En dat komt goed uit want er is werk aan de
	winkel. De achterwielophanging wordt verbeterd, de aandrijving wordt
	helemaal aangepast, de stoel wordt vervangen, het remsysteem gaat op de
	schop en eindelijk gaat de motor onder handen genomen worden. Maar
	voordat het zover is wordt de werkplaats verbouwd. Ik hoop snel weer
	tijd te vinden voor een volgende update, tot dan. <br />
<hr />

<h1>Werkhoven / Rockanje</h1>
<p>
	<img src="images/blog/1.jpg" class="rechtsintekst" width="250px" /> 11
	september zou de laatste Rang-Pang-wedstrijd van dit jaar worden
	verreden en wel in Werkhoven. Vorig jaar reden we voor het eerst op de
	zandbaan daar. Het weer in de week voor de wedstrijd was niet al te
	best, maar wetende dat zandgrond wat meer water kan verwerken en het
	weer op de dag zelf goed zou worden, zagen de vooruitzichten er toch
	goed uit. Verrassend genoeg moest er toch afgelast worden, mede omdat
	de wedstrijd van dit jaar op een ander perceel dan dat van vorig jaar
	gepland was.
<p>Ik had er zin in, dus werd er gekeken of er een andere wedstrijd
	op die dag was waar we konden rijden. Na een telefonische bevestiging
	was duidelijk dat we het in Rockanje gingen proberen. Een redelijke
	reis, maar wel de moeite waard en gezelschap van mede-RangPangers
	genoeg. Scirocco-collega Nico van de Water ging ook mee.
<p>De kleibaan aldaar was loodzwaar te noemen, met een leuke,
	ongebruikelijke vorm. Het was een vierkant waarvan 1 zijde een haakse
	chicane had, met daarvoor en daarna twee overhaakse bochten van zeg
	maar 135 graden.
<p>De eerste manche startte ik op de laatste rij. Na een redelijk
	goede start en een kort gevecht kon ik als tweede aansluiten achter
	Huub Jansen met zijn Opel Speedster. Na enkele rondjes kon ik de kop
	overnemen en won de eerste manche verrassend. De tweede manche lag ik
	meteen weer tweede, maar ik kon niet dichterbij komen. Wat strakker
	sturen leverde wat meters winst op, dus deed ik er nog een schepje
	bovenop. Het leidde ertoe dat ik een vlaggersbult meepakte en een
	koprol maakte. Ik kwam weer op de wielen terecht en ging weer verder.
	Dat hield op na twee meter, geen aandrijving meer en dus een uitval.
	Dat werd dus sleutelen, en doordat de oorzaak zich niet direct liet
	ontdekken miste ik ook de derde manche.
<p>Kort voor de finale was de auto weer klaar en kon ik aan de bak
	vanaf het laatste plekje. Maar de start elimineerde deze achterstand;
	al voor de eerste bocht had ik de tweede plaats te pakken. Ik sloot aan
	achter de Speedster en kon het tempo aardig bijbenen. We reden 9
	rondjes en al die tijd hing ik als aan een touwtje bij de koploper.
	Daar bleef het ook bij en dus was de tweede plaats mijn deel. Met een
	leuke dag achter de boeg en weer een beker met twee bosjes bloemen
	gingen we huiswaarts.
<p>
	Enkele dagen later kwam er bericht van de RangPang dat de wedstrijd in
	Werkhoven ingehaald wordt, en wel op 25 september! Uiteraard onder
	voorbehoud, de laatste informatie vind je altijd op de <a
		href="http://www.rangpang.nl/">website van RangPang</a>. <br /> <br />
<hr />

<h1>Nieuw-Vennep</h1>
<p>Het was spannend om in de laatste weken voor de wedstrijd in
	Nieuw-Vennep de nieuwe versnellingsbak klaar te krijgen. Zeker toen er
	in de laatste week een onvoorzien probleem bleek te zijn. Een handig
	truukje bracht de oplossing en met toegewijde hulp van Geerik lukte het
	allemaal net om de auto op tijd klaar te krijgen.</p>
<p>
	<img src="images/blog/2.1.jpg" class="linksintekst" width="250px" />
	Daar aangekomen op zaterdagochtend werd aangetroffen wat verwacht werd;
	de baan zoals die de laatste jaren aangelegd is, alvast bereden door de
	2-uurs-cross van de avond ervoor, en flink besproeid i.v.m. het
	verwachte stof. De eerste manche begon met een redelijk goede start, <img
		src="images/blog/2.2.jpg" class="rechtsintekst" width="250px" />
	waarna ik door externe invloeden(netjes beschreven dacht ik zo) bovenop
	de greppel terecht kwam. Als één na laatste kon ik weer verder, om de
	nodige meters goed te maken. Ik werd uiteindelijk 4e, waarmee ik niet
	ontevreden was.
</p>
<p>
	De tweede manche startte ik vanaf de laatste rij, de eerste bocht
	wachtte ik af om niet meteen in het gedrang te komen. Na de haakse
	rechtse kwam er ruimte in bocht 3 en ging ik buitenom. Bij het uitgaan
	werd ik dwars geduwd, en kwam daarna hard in de greppel terecht met een
	koprol als gevolg. Nadat ik me verdiept had in de
	astrologie(sterretjes) en de sociologie(waarom dit gedrag?) kon ik met
	grote opluchting vaststellen dat de auto te herstellen was. Na het
	afslepen snel aan de slag en met hulp van Ton(bedankt) en
	Thomas(bedankt) werd de kromme achterwielophanging netjes recht gezet.
	De enorme hoeveelheid plaatschade werd voor later bewaard. <img
		src="images/blog/2.5.jpg" class="linksintekst" width="250px" />
</p>
<p>Bij het naar de start gaan van de derde manche kwam een nieuw
	probleem aan het licht: de koppeling. De drukstift had zich door de
	klap verdraaid en daardoor kon de koppeling niet meer bediend worden.
	Stevig balen, want de derde manche miste ik hierdoor ook waardoor ik
	twee keer een resultaat boekte van 0 punten. En dan is het gewoon klaar
	in het kampioenschap. Piet van Dijk wist echter in één van de manches
	de zwarte vlag te bemachtigen, waardoor het nu toch nog spannend wordt;
	Tussen Piet en mij zit 14 punten, en daartussen zitten nu Ton van
	Leeuwen en Team Hoogendoorn. Heel spannend!</p>
<p>
	In de finale kon ik met de gehavende auto toch nog van start, en wel
	van de laatste plek. Ik ging van start om 'm uit te rijden; de auto
	weer even voelen na zo'n klap en testen of alles heel blijft. Na de
	eerste paar rondes was alles okee bevonden en ik ging wat scherper
	rijden. Na een fantastisch gevecht met Renzo Hoogendoorn pakte ik zelfs
	de 2e plaats! Erg tevreden en bovendien erg fijn om zo'n rotdag toch
	nog goed af te sluiten. Bekijk hieronder de video van de finale:<br />
	<br />
	<object width="384" height="231" class="rechtsintekst">
		<param name="movie"
			value="http://www.youtube.com/v/ddA_isIsT1M&amp;hl=nl_NL&amp;fs=1">
		</param>
		<param name="allowFullScreen" value="true"></param>
		<param name="allowscriptaccess" value="always"></param>
		<embed
			src="http://www.youtube.com/v/ddA_isIsT1M&amp;hl=nl_NL&amp;fs=1"
			type="application/x-shockwave-flash" allowscriptaccess="always"
			allowfullscreen="false" width="384" height="231"></embed>
	</object>
<p>
	Maar hoe deed die nieuwe versnellingsbak het nu? Het nieuwe <img
		src="images/blog/2.3.jpg" class="rechtsintekst" width="250px" />
	schakelen verschilt sterk van het oude vertrouwde, het ging vooral in
	de eerste manche meerdere keren mis. Dit moet beter, en met wat
	technische wijzigen en zelf meer wennen zal dat beter worden. De
	bakverhoudingen gaven veel feedback voor de toekomst, op deze baan
	waren ze niet ideaal maar wel toereikend, precies zoals verwacht. Het
	sperdifferentieel is zeer goed bevallen; de auto stuurt goed uit, en
	ongelooflijk goed in. De tractie voelt ook prettig en rechtlijnig. Het
	lijkt erop dat ik qua versnellingsbak een goede basis heb om de rest
	van dit jaar te kunnen rijden.
</p>
<p style="clear: both;">
	<img src="images/blog/2.6.jpg" class="rechtsintekst" width="250px" />
	De domper van het verlies in de strijd om het kampioenschap is stevig,
	en de lichamelijke pijnen na zo'n klapper zijn ook bepaald niet
	prettig. Aan de andere kant ben ik geweldig blij dat de auto te
	herstellen is en ik dus mijn hobby kan voortzetten. En ook lichamelijk
	was alles na een dag of drie weer in orde. En dus zie ik uit naar 11
	september, dan gaan we naar Werkhoven om zand te happen! Fotoserie
	crash: <a
		href="http://www.snellefoto.autocrossnederland.nl/_02_fotogallery/2010/12_za_nieuwvennep/pages/1203.htm">hier</a>.
</p>

<br />
<br />
<hr />

<h1>Eerste blog post</h1>
<p>Hallo lezers! Met dit bericht is bij deze mijn blog geopend. Al
	met al geen gemakkelijke taak, als je daar halverwege het seizoen mee
	begint. In de autocross kun je meestal over elke wedstrijd wel een
	hoofdstuk schrijven, en aangevuld met de technische en persoonlijke
	details heb je zo een heel boek geschreven. Ik ga nu geen inhaalslag
	van dit seizoen maken, wel geef ik een korte samenvatting van vooral
	alle technische perikelen tot nu toe. In de toekomst streef ik ernaar
	om maandelijks wat nieuws te hebben, en mits mogelijk na iedere
	wedstrijd een stukje te schrijven.</p>

<img src="images/blog/5.jpg" class="rechtsintekst" width="250px" />

<p>In de standaardklasse had ik nogal wat onderhoud aan de
	versnellingsbak. Dit liet ik altijd doen door Geerik Verhoef, een
	vriend uit Lopik. Afgelopen winter werd onze samenwerking wat
	intensiever en hebben we samen de onafhankelijke achterwielophanging
	gebouwd. Toen dat klaar was kwam Pasen al dichterbij en moest de nieuwe
	versnellingsbak nog gebouwd worden. Door een ongelukkige crash tijdens
	een skivakantie liep Geerik echter zwaar letsel op. Na een periode van
	ziekenhuisopname zit hij nu in een revalidatieproces, wat zwaar is maar
	wel vooruitgang brengt. Sinds kort oefent hij weer om te lopen zonder
	krukken. Enkele keren heb ik hem opgehaald en zijn we naar de schuur
	geweest. We bespreken dan de technische veranderingen van dit jaar,
	zowel de uitgevoerde als de nog uit te voeren wijzigingen.</p>
<p>
	Tot die tijd heb ik dit seizoen noodgedwongen met de standaard motor en
	bak gereden. De motor is goed en betrouwbaar, de bak was een stuk
	spannender. Vorig seizoen reed ik 1 tot hooguit 2 wedstrijden voor de
	bak gereviseerd werd. Nu heeft deze versnellingsbak er 5 voor zijn
	kiezen gekregen en hij heeft het overleefd! Dit is een enorme
	meevaller, ik heb veel kunnen rijden met de nieuwe wielophanging en nog
	competetief ook. Onverwachts ben ik zelfs koploper in de tussenstand om
	het kampioenschap. <img src="images/blog/3.jpg" class="linksintekst"
		width="250px" /> Daarnaast heb ik bij Marcel Broekhuizen een puike
	wedstrijd kunnen rijden en uiteindelijk een 2e plaats behaald. Ik ben
	erg tevreden over de prestaties tot nu toe. Aan de afstelling van de
	auto moet ik nog hard werken, ik hoop nog dit seizoen de auto beter te
	krijgen en eind volgend jaar alles perfect onder controle te hebben.
	Bepalend hierin zullen zijn het nieuwe differentieel, wat nieuwe sets
	banden, de schokdempers en de wielstanden.
</p>
<img src="images/blog/4.jpg" class="rechtsintekst" width="250px" />
<p>Momenteel ben ik met assistentie van Geerik mijn nieuwe bak aan
	het bouwen. Deze is van een ander, sterker type. Ik heb hem zelfstandig
	bedacht en berekend en mijn verwachtingen zijn hoog wat betreft de
	RangPang-banen van de laatste jaren. Hij moet klaar zijn voor de
	wedstrijd in Nieuw-Vennep op 26 juni, en dan kan hij zich bewijzen. Ik
	ben benieuwd of alles gaat werken zoals het bedacht is, en of ‘ie heel
	blijft natuurlijk. We zullen het beleven.</p>
<img src="images/blog/2.jpg" class="linksintekst" width="250px" />


{{> _footer.html}}