{{> _header.html}}
	<div class="content">
	
	<span class="sponsors"> <a href="#">
	<img src="images/sponsors/doornenbal.png"
		height="100px" /></a></span>

	<span class="sponsors"><a href="#">
	<img src="images/sponsors/tonvanleeuwen.png" width="400px"
		 /></a></span>

	<span class="sponsors"><a href="#">
	<img src="images/sponsors/maartenlittel.png" width="400px"
		 /></a></span>
		
	<span class="sponsors"><a href="#">
	<img src="images/sponsors/dekorz.png" width="400px"
		 /></a></span>
				 
<!-- 		 
	<span class="sponsors"><a href="#">
	<img src="images/sponsors/aboele.png" width="400px"
		 /></a></span>

	<span class="sponsors"><a href="#">
	<img src="images/sponsors/derie.png" width="400px"
		/></a></span>
		
	<span class="sponsors"><a href="#">
	<img src="images/sponsors/smsattent.png" width="400px"
		 /></a></span>
		 
	<span class="sponsors"> <a href="#">
	<img src="images/sponsors/deleeuw.png" width="400px"
		/></a></span>
		
	<span class="sponsors"><a href="http://www.roline-banden.nl/">
	<img src="images/sponsors/roline.png" width="400px"
		 /></a></span>
		 
	<span class="sponsors"><a href="#">
	<img src="images/sponsors/mark.png" width="400px"
		 /></a></span>		 
 -->	 
		
{{> _footer.html}}